@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --blue: #0188DF;
    --black: #354046;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  font-weight:400;
  transition: all .2s linear;
}

*::selection{
    background: var(--black);
    color:#fff;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

body{
    overflow-x: hidden;
}

section{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    padding: 2rem 1rem;
    z-index: 1000; 
}

.header-active{
    background: #fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    padding: .5rem 1rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--black);
}

header a:hover{
    color: var(--blue);
}

header .container .logo{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;

}

header .container .logo span{
    color: var(--blue);
}

header .nav ul{
    margin: 0; padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .nav ul li{
    margin: 0 1rem;
}

header .nav ul li a{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;

}

header .fa-bars{
    font-size: 3.5rem;
    color: var(--blue);
    cursor: pointer; 
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--blue);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover{
    background: white;
    color: var(--blue);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);   

}
/* Search Button*/
.search-box{
	width: fit-content;
	height: fit-content;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}


.btn-search{
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: var(--blue);
	pointer-events: painted;
	display: flex;
	justify-content: center;
	align-items: center;
}



.btn-search:hover:before{
	top: 0%;
}

.btn-search:hover{
	color: var(--blue);
	background-color: #fff;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.about h1{
    padding-top: 10rem;
    padding-bottom: -15rem;
    text-align: center;
    font-size: 4rem;
    color: var(--blue);
}

.about h1 span{
    color: var(--black)
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 500px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
}
.about .about-content .right{
    width: 55%;
}

.about .about-content .right p{
    text-align: justify;
    font-size: 2rem;
}
.about .about-content .right a{
    color: var(--blue);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/*-- Footer Section --*/

.footer{
    background: var(--black);
}

.footer .container{
    padding: 50px 23px;
    justify-content: center;
    text-align: center;
}

.footer .container .row h1{
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
}

.footer p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.footer .col-md-6:nth-child(1) a{
    font-size: 3rem;
    color: #fff;
    text-align: left;
    padding-left: 1rem
}

.footer .col-md-6:nth-child(1) p{
    text-align: left;
    padding-left: 1rem;
}

.footer .col-md-6:nth-child(1) a:hover{
    color: var(--blue)
}

.footer .col-md-6:nth-child(1) a span{
    color:var(--blue);
}

.footer a{
    font-size: 2rem;
    color: #ccc;
    display: block;
}

.footer h3{
    color: #fff;
    font-size: 3rem;
}

.footer a:hover{
    color: var(--blue);
}

.footer .credit{
    color: #fff;
    width: 80%;
    margin: 0;
    padding: 2rem 0;
    padding-bottom: 4rem;
    border-top: .1rem solid #ccc !important;  
    text-align: center;
    font-size: 2rem; 
}

.footer .credit a{
    color: white;
}

.footer .credit a:hover{
    color: var(--blue);
}
header .fa-times{
    transform: rotate(180deg);
}

/*media queries*/

@media (max-width: 990px){

 html{
    font-size: 55%;
 }

 header .fa-bars{
    display: block;
 }

 header .nav{
  position: fixed;
  top: -100rem; left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
  border-radius: .5rem;
  border: .3rem solid var(--blue) !important;
  background: #fff;
  width: 95%;
  opacity: 0;
 }

 header .nav ul {
   width: 100%;
   flex-flow: column;
   padding: 2rem 0;
 }

 header .nav ul li{
  width: 100%;
  text-align: center;
  margin: 1rem 0;
 }

 header .nav ul li a{
  font-size: 3rem;
  display: block;
 }

 header .nav-toggle{
  top: 50%;
  opacity: 1;
 }

 .input-search::placeholder{
	color:rgba(255,255,255,.5);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
	}

	.input-search:focus{
	width: 150px;
	border-radius: 5rem;
	background-color: var(--blue);
	border-bottom: 1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
	}

	.btn-search:focus ~ .input-search{
	width: 150px;
	border-radius: 0px;
	background-color: var(--blue);
	border-bottom: 1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); 
	}

 .about .about-content{
    width: 100%;
 }

 .about .about-content .left{
    width: 100%;
 }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        margin-bottom: 1rem;
    }
    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }

    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (max-width: 500px) {
    .about .about-content .right .text{
        font-size: 19px;
    }
}
